.MessageModal-card-wrapper {
  width: 350px;
  height: 250px;
  border-radius: 25px;
  margin: 110px;
  margin-left: 20px;
  padding: 20px;
  background-color: rgb(232, 241, 237);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.MessageModal-card-wrapper-left p {
    padding-top: 60px;
    font-weight: 400px;
    color:rgb(100, 93, 93);
    font-size: 15px;
}

.MessageModal-card-wrapper-right {
    display: flex;
    padding-bottom: 60px;
    
}

.MessageModal-card-wrapper-right button {
  height: 50px;
  width: 100px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(211, 219, 222);
  border-color: transparent;
  color: rgb(82, 83, 83);
  font-weight: 600;
  
}
.MessageModal-card-wrapper-right  button:hover {
    background-color: rgb(163, 181, 188);
    cursor: pointer;
    color: antiquewhite;
}